:root {
    --lightdark: rgba(52, 58, 64, 1);
    --lightsecondary: rgba(108, 117, 125, 1);
    --darksecondary: rgba(159, 162, 171, 1);
    --lightwhite: rgba(255, 255, 255, 1);
    --lightborder-light: rgba(223, 223, 223, 1);
    --lightlight: rgba(248, 249, 250, 1);
    --base-body-bold-font-family: "Roboto-Medium", Helvetica;
    --base-body-bold-font-weight: 500;
    --base-body-bold-font-size: 14px;
    --base-body-bold-letter-spacing: 0px;
    --base-body-bold-line-height: 22px;
    --base-body-bold-font-style: normal;
    --base-body-font-family: "Poppins-Regular", Helvetica;
    --base-body-font-weight: 400;
    --base-body-font-size: 14px;
    --base-body-letter-spacing: 0px;
    --base-body-line-height: 22px;
    --base-body-font-style: normal;
    --heading-h5-heading-font-family: "Roboto-Medium", Helvetica;
    --heading-h5-heading-font-weight: 500;
    --heading-h5-heading-font-size: 20px;
    --heading-h5-heading-letter-spacing: 0px;
    --heading-h5-heading-line-height: 24px;
    --heading-h5-heading-font-style: normal;
    --base-blockquote-font-family: "Roboto-Regular", Helvetica;
    --base-blockquote-font-weight: 400;
    --base-blockquote-font-size: 18px;
    --base-blockquote-letter-spacing: 0px;
    --base-blockquote-line-height: 28px;
    --base-blockquote-font-style: normal;
    --base-large-font-family: "Roboto-Regular", Helvetica;
    --base-large-font-weight: 400;
    --base-large-font-size: 16px;
    --base-large-letter-spacing: 0px;
    --base-large-line-height: normal;
    --base-large-font-style: normal;
    --base-tiny-font-family: "Roboto-Regular", Helvetica;
    --base-tiny-font-weight: 400;
    --base-tiny-font-size: 10px;
    --base-tiny-letter-spacing: 0px;
    --base-tiny-line-height: 18px;
    --base-tiny-font-style: normal;
    --base-large-bold-font-family: "Roboto-Medium", Helvetica;
    --base-large-bold-font-weight: 500;
    --base-large-bold-font-size: 16px;
    --base-large-bold-letter-spacing: 0px;
    --base-large-bold-line-height: normal;
    --base-large-bold-font-style: normal;
    --regular: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
    --small: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  }
  